/**  配置工作台 */
.pageWrap {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 20px;
  grid-template-areas: 'a b b b b b b b';
  grid-template-columns: repeat(8, 1fr);
}
.workList {
  grid-area: a;
  height: 100%;
}

.worksWrap {
  display: flex;
  flex-wrap: wrap;
  grid-area: b;
  align-items: flex-start;
  justify-content: flex-start;
}

.movingItem {
  background-color: transparent;
  cursor: move;
}

.overItem {
  border: 2px dashed #ccc;
}
